<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.patrick.dorm.mapper.RoleMapper">
    <resultMap id="roleMap" type="Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>

        <collection property="permissions" ofType="Permission" column="id" select="com.patrick.dorm.mapper.PermissionMapper.getByRoleId">
        </collection>
    </resultMap>
    <select id="getById" parameterType="Integer" resultType="Role">
        select * from role where id=#{value}
    </select>

    <select id="getRoleWithPermission" parameterType="Integer" resultMap="roleMap">
        select * from role where id=#{value}
    </select>

    <select id="getByUserId" parameterType="Integer" resultType="Role">
        select role.id,role.name,role.description
        from role,user_role
        where user_role.uid=#{value} and role.id=user_role.rid
    </select>
</mapper>